*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    position: relative;
    display: flex;
}
.main{
    display: flex;
    width: 100%;
    position: relative;
}
.first-side{
    width: 25%;
    position: sticky;
    height: 100vh;
    z-index: 1;
    top: 0px;
}
.column-1{
    background-color:#121212;
    width: 95%;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
}
.item-1 p{
   padding-top: 10px;
   font-size: 20px;
   color: #ffffff;
   padding-left: 30px;
   padding-bottom: 10px;
   cursor: pointer;
}
.column-2{
    background-color:#121212;
    width: 95%; 
    /* height: 50px; */
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.box{
    background-color: #242424;
    border: none;
    outline: none;
    width: 96%;
    border-radius: 5px 5px 0px 0px;
    margin-left: 7px;
    /* max-height: 50px; */
    margin-top: 20px;
}
.options{
    display: flex;
  
}
.options p{
    font-size: 11px;
    color: #d3cdcd;
    cursor: pointer;
}
.item-1 button{
    width: 100px;
    height: 40px;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #121212;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
}
.second-side{
    background-color:#121212;
    height: 1000px;
    width: 75%;
    overflow-x: hidden;
    margin-top: 10px;
    border-radius: 10px;
}
.first-row{
    height: 70px;
    width: 100%;
    background-color:#121212;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: fixed;
    z-index: 111111;
    top: 0px;
}
.first-arrow{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: black;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}
.third-arrow{
    height: 48px;
    width: 97px;
    background-color: #121212;
    color: #a7a7a7;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 700px;
}
.fourth-arrow{
    height: 48px;
    width: 110px;
    background-color: #ffffff;
    margin-left: 15px;
    color: #000000;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.second-row{
    height: 60px;
    width: 100%;
    background-color: #232222;
    display: flex;
    justify-content: space-between;
}
.first-line{
    height: 100%;
    width: 150px;
    background-color: #232222;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    padding-top: 30px;
    font-size: 20px;
    
}
.second-line{
    height: 100%;
    width: 100px;
    background-color: #232222;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    padding-top: 35px;
    font-size: 14px;
}
.third-row{
    width: 100%;
    height: 232px;
    display: flex;
    background-color: #232222;
}
.third-row ul{
    display: flex;
}
.image-1{
    width: 179px;
    height: 232px;
    background-color: #232222;
    position: relative;
    transition: 0.3s;
}
.image-1 img{
    width: 100%;
    height: 170px;
    border-radius: 50%;
    padding-left: 10px;
   
} 
.image-1 h5{
    color: white;
    font-size: 18px;
    font-weight: lighter;
    background-color: transparent;
    padding-bottom: 10px;
    padding-left: 10px;
}
.image-1 p{
    color:#e8e3e3;
    margin-top: 0px;
    background-color: transparent;
    padding-bottom: 10px;
    padding-left: 10px;
}
.fourth-row{
    height: 250px;
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.fourth-row ul{
    display: flex;
}
.album{
    height: 100%;
    width: 178px;
    padding-left: 10px;
    transition: 0.3s;
}
.album img{
    width: 100%;
    height: 170px;
    border-radius: 10px;
}
.album h5{
    color: white;
    font-size: 18px;
    font-weight: lighter;
    background-color: transparent;
    margin-top: 10px;
}
.album p{
    color:#e8e3e3;
    margin-top: 8px;
    background-color: transparent;
    font-size: 14px;
}
.foot{
    height: 212px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    margin-top: 70px;
    justify-content: space-evenly;
}
.foot-item{
    height: 180px;
    width: 174px;
    padding-left: 10px;
}
.foot-item h3{
    color: white;
}
.foot-item ul li{
    margin-top: 10px;
    color: #a7a7a7;
    cursor: pointer;
}
.font{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #292929;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    cursor: pointer;
}
hr{
    width: 94%;
    margin: auto;
    color: #a7a7a7;
}
.foot-last{
    height: 50px;
    width: 100%;
    margin-top: 10px;
    padding-top: 30px;
    margin-left: 30px;
    color: #a7a7a7;
    margin-bottom: 20px;
}
.first-line:hover{
    text-decoration: underline;
}
.second-line:hover{
    text-decoration: underline;
}
.third-arrow:hover{
    transform: scale(1.1,1.1);
    color: white;
}
.fourth-arrow:hover{
    transform: scale(1.1,1.1);
}
.foot-item ul li:hover{
    transform: scale(1.01,1.01);
    color: white;
    text-decoration: underline;
}
.font:hover{
    background-color: #a7a7a7;
}
.green{
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 25px;
    position: relative;
    top: -130px;
    left: 100px;
    opacity: 0;  
   
} 
.image-1:hover{
    background-color: #1a1a1a;
}
.image-1:hover .green{
    opacity: 1;
    animation:kuch-bhi 0.3s linear;
}
@keyframes kuch-bhi {
    0%{
        transform: translate(0px,40px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
.album:hover .green{
    opacity: 1;
    animation:kuch-bhi 0.3s linear;
}
.album:hover{
    transform: scale(1.01,1.01);
    background-color: #1a1a1a;
}
.upr{
    height: 10px;
    width: 75%;
    background-color: #000000;
    z-index: 111111111;
    position: absolute;
    top: 0px;
}
